html {
  padding: 10px 15%;
}

body {
background-color: black;
color: white;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}

ul,li {
  list-style: none;
}

.hidden {
  visibility: hidden;
}
  
header {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.menu {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: flex-end;
  gap: 18px;
}

.now{
  color: #0BEC12;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.main-top > h1 {
  font-size: 25px;
}

.main-top > button {
  border: none;
  background-color: black;
  color: white;
}

.main-top > button > div {
  font-size: 15px;
}

  
.interview-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 14px;
}

@media (max-width: 768px) {
    .interview-list {
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .interview-list {
      grid-template-columns: 1fr;
      padding: 10px 0;
    }
}

.interview-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%; 
  height: 125px;
  background-color: #333333; 
  border-radius: 9px;
}

.interview-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 0;
}

.interview-card-header-left {
  padding-left: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 0;
}

.interview-card-left-img  {
  width: 75px;
  height: 90%;
  background-color: white;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interview-card-left-img > img {
  width: 50%;
  height: 50%;
}

.interview-card-header-left-right {
  display: flex;
  flex-direction: column;
}

.card-major {
  margin-top: 5px;
  width: 55px;
  height: 28px;
  border-radius: 5px;
  background-color: rgb(126, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.interview-card-bottom {
  height: 0;
}

.interview-card-bottom > p {
  margin: 20px;
}

.hamburger {
  width: 20px;
  height: 20px;
  position: relative;
  right: 16px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.hamburger > div{ 
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}

/* hover 구현 */

.menu li:hover {
  transform: translateY(-2px);
}


.interview-card:hover {
  transform: translateY(-2px);
}

.interview-card:hover img{
  transform: scale(1.2);
}

.interview-card:hover .hamburger div:nth-child(1) {
  transform: scaleX(0.5) translateX(-50%);
}

.interview-card:hover .hamburger div:nth-child(3) {
  transform: scaleX(0.5) translateX(50%);
}

.footer-top-left >div:first-child:hover{
  transform: translateY(-2px);
}

.footer-top-left-img > img:hover {
  transform: translateY(-2px);
}

.footer-top-left >div:last-child:hover{
  transform: translateY(-2px);
}

.footer-menu li:hover {
  transform: translateY(-2px);
}

/*이하 footer 영역*/

footer {
  margin-top: 30px;
}

.footer-top {
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*footer-top 배경색 적용을 위한 코드 */
  width: 96.7vw; /* 스크롤 안생기는 선에서 최대 확장 */
  margin-left: calc(-50vw + 50%); /* 왼쪽으로 절반 만큼 땡겨서, 양쪽 여백까지 채우기 */
  margin-right: calc(-50vw + 50%); /* 오른쪽으로 절반 만큼 땡겨서, 양쪽 여백까지 채우기 */
  padding: 20px;
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  gap: 10px;
}

.footer-top-left > div:nth-of-type(3){
  display:flex; 
  gap: 10px;
}

.footer-top-left-img > img {
  width: 21px;
  height: 21px;;
}

.footer-top-right {
  margin-left: -30%;
}

.footer-menu {
  display:flex;
}

.footer-menu > li {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid rgb(222,222,222);
}

.footer-menu > li:last-child {
  border-right: none;
}

.footer-bottom > span {
  padding-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

